<header>
  <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

  {% if site.logo %}
  <p class="image_wrapper"><img class="profile-pic" src="{{site.logo | relative_url}}" alt="Logo" /></p>
  {% endif %}

  <p class="description ">{{ site.description | default: site.github.project_tagline }}</p>

  <div class="icons">
    <a href="mailto:{{ site.email }}"><i class="fas fa-at"></i></a>
    <a href="{{ site.github.owner_url }}" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/filipkaklin" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  {% for item in site.navigation %}
      {% assign class = nil %}
      {% if page.url contains item.url %}
          {% assign class = 'active' %}
      {% endif %}
      <h2><a href="{{ item.url | relative_url }}" class="{{ class }} category">
          {{ item.title }}
      </a>
    </h2>
  {% endfor %}
  <!-- <h2 class="content-tab"><a href={{ "/about" | relative_url }}">About me</a></h2> -->
</header>
